<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://172.20.90.117/www2/app/sma0410.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://101.201.76.73:8888/semp/resource/upload/appVersion/5189e6925eba46d9b6112199fba218bf/smartdotGOMPortal96.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://101.201.76.73:8888/semp/resource/upload/appVersion/5189e6925eba46d9b6112199fba218bf/smartdotGOMPortal96.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.smartdot.mau.yidongmenhu</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>移动门户</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
